{% extends "layout.html" %}

{%- block afterstyle %}
<style type="text/css">
#sidebar-wrapper {
display: none;
}
#content-wrapper {
float: none;
width: auto;
}
</style>
{%- endblock %}

{%- block title -%}
Handy - {{post.title}}
{%- endblock -%}

{% block content %}
<article class="hentry">
  <h1 class="entry-title">{{post.title}}</h1>
  <div class="meta">{{post.date.strftime('%Y-%m-%d')}}</div>
  <div class="entry-content">
    {{ post.content|iframe }}
  </div>
</article>
{% endblock %}

{% block sidebar %}{% endblock %}
{% block subsidebar %}{% endblock %}
